<% include _header %>

<div class="col-md-9 center">

	<h1 class="text-center">Log in using facebook</h1></br>

				
	<div class="col-md-4 center">					
		<a href="/login/facebook" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Sign in with facebook</a>
	</div>

</div>




<% include _footer %>

